<h1>Editing profile</h1>
<form action="/edit" id="form" method="POST">
  <fieldset>
    <legend>Edit</legend>
    <label>Name
      <input type="text" required value="{{user._doc.name}}" name="name" />
    </label>
    <label>Age
      <input
        type="number"
        min="18"
        max="100"
        required
        name="age"
        value="{{user._doc.age}}"
      />
    </label>
    <label>I am a
      <select name="gender">
        <option value="Man" {{isDefault user._doc.gender "Man"}}>Man</option>
        <option
          value="Woman"
          {{isDefault user._doc.gender "Woman"}}
        >Woman</option>
      </select>
    </label>
    <label>Looking for a
      <select name="looking">
        <option value="Man" {{isDefault user._doc.looking "Man"}}>Man</option>
        <option
          value="Woman"
          {{isDefault user._doc.looking "Woman"}}
        >Woman</option>
        <option
          value="No preference"
          {{isDefault user._doc.looking "No preference"}}
        >No preference</option>
      </select>
    </label>
    <p>Change your favorite place?</p>
    <section id="mapContainer"></section>
    <label id="latlabel">Latitude
      <input
        type="number"
        name="lat"
        id="lat"
        step="0.00000000000001"
        min="-90"
        max="90"
        value="{{lat}}"
      />
    </label>
    <label id="lnglabel">Longitude
      <input
        type="number"
        name="lng"
        id="lng"
        step="0.00000000000001"
        min="-180"
        max="180"
        value="{{lng}}"
      />
    </label>
  </fieldset>
</form>
<script src="/js/createLeafletMap.js"></script>
<script src="/js/ajaxRequests.js"></script>
{{{mapFunctionalities user true true}}}